build/
wasm-build/
.vscode/
android/distribution/
android/app/.cxx/
android/.gradle
android/gradle
subprojects/entt
subprojects/SDL
subprojects/SDL_image
subprojects/SDL_ttf
subprojects/spdlog
subprojects/RmlUi
subprojects/imgui
subprojects/tracy
subprojects/box2d
subprojects/Rune/subprojects/wgpu-native/linux-x86_64/*
subprojects/Rune/subprojects/wgpu-native/android-x86_64/*
subprojects/Rune/subprojects/wgpu-native/android-aarch64/*
subprojects/Rune/subprojects/wgpu-native/android-armeabi-v7a/*