compile_commands.json
build/
wasm-build/
mingw-build/
ios-build/
.vscode/
.cache/
android/distribution/
android/app/.cxx/
android/.gradle
subprojects/entt
subprojects/Rune/subprojects/spdlog
subprojects/SDL
subprojects/SDL_image
subprojects/SDL_ttf
subprojects/spdlog
subprojects/RmlUi
subprojects/imgui
subprojects/lua
subprojects/sol2
subprojects/ImGuiColorTextEdit
subprojects/ImGuiFileDialog
subprojects/ChaiScript
subprojects/tracy
subprojects/box2d
subprojects/tiny-process-library
subprojects/Rune/subprojects/wgpu-native/linux-x86_64/
subprojects/Rune/subprojects/wgpu-native/android-x86_64/
subprojects/Rune/subprojects/wgpu-native/android-aarch64/
subprojects/Rune/subprojects/wgpu-native/android-armeabi-v7a/
subprojects/Rune/subprojects/wgpu-native/ios-aarch64-simulator/
subprojects/Rune/subprojects/wgpu-native/macos-aarch64/
subprojects/Rune/subprojects/wgpu-native/ios-aarch64/
subprojects/Rune/subprojects/wgpu-native/windows-x86_64-msvc
